{% extends 'Base.html' %}
{% load static %}


{% block content %}

<div class="card" style="padding: 5%;">
    <div class="row">
        <form class="col s12" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <input id="jml_saudara" name="jml_saudara" type="number" class="validate">
                    <label for="jml_saudara">Jumlah Saudara</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="jml_anak" name="jml_anak" type="number" class="validate">
                    <label for="jml_anak">Jumlah Anak</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="trf_tiket" name="trf_tiket" type="number" class="validate">
                    <label for="trf_tiket">Tarif Tiket</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="kls_tiket">
                        <option value="" disabled selected>Kelas Tiket</option>
                        <option value="1,0,0">Kelas 1</option>
                        <option value="0,1,0">Kelas 2</option>
                        <option value="0,0,1">Kelas 3</option>
                    </select>
                    <label>Kelas Tiket</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="jns_kelamin">
                        <option value="" disabled selected>Jenis Kelamin</option>
                        <option value="1,0">Perempuan</option>
                        <option value="0,1">Laki-Laki</option>
                    </select>
                    <label>Jenis Kelamin</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="tpt_keberangkatan">
                        <option value="" disabled selected>Tempat Keberangkatan</option>
                        <option value="1,0,0">Cherbourg</option>
                        <option value="0,1,0">Southampton</option>
                        <option value="0,0,1">Queenstown</option>
                    </select>
                    <label>Tempat Keberangkatan</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light btn-large" type="submit"><i class="large material-icons left">insert_chart</i> PREDIKSI</button>
        </form>
    </div>
</div>

{% endblock content %}